@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="/images/medlink-nobg.png" alt="Welcome Image" class="display-4">
    <h1>MedLinkDB: Your Patient Management Portal!</h1>
</div>

<br />
<h4>Our software is designed to revolutionize the way healthcare providers manage patient data and treatment processes. With a comprehensive database at its core, our system simplifies and streamlines the entire patient care journey.</h4>
<br />
<h2>Key Features:</h2>

<ul>
    <li>Efficient Patient Management: Easily access and update patient information, including personal details, contact information, medical history, and more.</li>
    <li>Appointment Scheduling: Seamlessly schedule appointments with doctors, view upcoming visits, and keep track of the purpose of each appointment.</li>
    <li>Comprehensive Medical History: Gain insights into patients' medical histories, including past illnesses, treatments, and diagnoses.</li>
    <li>Medical Test Records: Maintain a record of medical tests, including test dates, results, and the attending doctor.</li>
    <li>Billing and Insurance: Manage billing information, keep track of payments, and store insurance details for a complete financial overview.</li>
    <li>Doctor Information: Access details about doctors, their specializations, and contact information, enhancing communication and collaboration.</li>
</ul>